* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400 !important;
}
body,
html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
.header_bg {
  background-image: url("./images/bg-masthead.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 30rem;
  height: auto;
}
.header_bg h1 {
  font-size: 4rem;
  color: #fff;
}

.section-content {
  padding: 7rem 0;
}

.section-content-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}
.section-content-heading h2 {
  font-size: 3rem;
}

.services-icon {
  background-color: #fff;
  color: #ff0000;
  width: 7rem;
  height: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
}

.fade_text {
  color: rgba(255, 255, 255, 0.7);
}
.btn-xl {
  padding: 1.25rem 2.25rem;
}
.dl_text {
  padding: 15rem 0;
  background-image: url("./images/bg-download.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.dl_text h2 {
  font-size: 3.5rem;
  font-weight: 700;
  max-width: 30rem;
}
.portfolio_items {
  display: block;
  overflow: hidden;
  position: relative;
  max-width: 530px;
}
@media (min-width: 992px) {
  .header_bg {
    height: 100vh;
  }
}

@media (min-width: 992px) {
  .portfolio_items {
    max-width: none;
    margin: 0;
  }
}
.portfolio_item_caption {
  background-color: rgba(9, 9, 9, 0.271);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.portfolio_item_caption_content {
  color: #fff;
  margin: auto 2rem 2rem;
}
.portfolio_item_caption,
.portfolio_items img {
  transition: 500ms;
}
.portfolio_items:hover img {
  transform: scale(0.85);
}
.portfolio_items:hover .portfolio_item_caption {
  background-color: rgba(9, 9, 9, 0.623);
  transform: scale(0.85);
}

.social_link {
  text-decoration: none;
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.5rem;
  background-color: cadetblue;
}
